.container {width: $max_l + 1px;margin: 0 auto;}
.row {width: 100%;/*margin: 0 (-$column);*/clear: both;font-size: 0;padding: 0;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {display: inline-block;float: left;vertical-align: top;padding: 0 $column;font-size: 1rem;}

.col-0 {display: none;}
.col-1 {width: calc(100% / 12);}
.col-2 {width: calc(100% / 12  * 2);}
.col-3 {width: calc(100% / 12  * 3);}
.col-4 {width: calc(100% / 12  * 4);}
.col-5 {width: calc(100% / 12  * 5);}
.col-6 {width: calc(100% / 12  * 6);}
.col-7 {width: calc(100% / 12  * 7);}
.col-8 {width: calc(100% / 12  * 8);}
.col-9 {width: calc(100% / 12  * 9);}
.col-10 {width: calc(100% / 12  * 10);}
.col-11 {width: calc(100% / 12  * 11);}
.col-12 {width: 100%;}

.col-offset-1 {margin-left: calc(100% / 12);}
.col-offset-2 {margin-left: calc(100% / 12 * 2);}
.col-offset-3 {margin-left: calc(100% / 12 * 3);}
.col-offset-4 {margin-left: calc(100% / 12 * 4);}
.col-offset-5 {margin-left: calc(100% / 12 * 5);}
.col-offset-6 {margin-left: calc(100% / 12 * 6);}
.col-offset-7 {margin-left: calc(100% / 12 * 7);}
.col-offset-8 {margin-left: calc(100% / 12 * 8);}
.col-offset-9 {margin-left: calc(100% / 12 * 9);}
.col-offset-10 {margin-left: calc(100% / 12 * 10);}
.col-offset-11 {margin-left: calc(100% / 12 * 11);}

@media only screen and (max-width: $max_l) {
    .container {width: $max_m + 1px;}
    .l-col-0 {display: none;}
    .l-col-1 {width: calc(100% / 12);}
    .l-col-2 {width: calc(100% / 12  * 2);}
    .l-col-3 {width: calc(100% / 12  * 3);}
    .l-col-4 {width: calc(100% / 12  * 4);}
    .l-col-5 {width: calc(100% / 12  * 5);}
    .l-col-6 {width: calc(100% / 12  * 6);}
    .l-col-7 {width: calc(100% / 12  * 7);}
    .l-col-8 {width: calc(100% / 12  * 8);}
    .l-col-9 {width: calc(100% / 12  * 9);}
    .l-col-10 {width: calc(100% / 12  * 10);}
    .l-col-11 {width: calc(100% / 12  * 11);}
    .l-col-12 {width: 100%;}

    .l-col-offset-0 {margin-left: 0;}
    .l-col-offset-1 {margin-left: calc(100% / 12);}
    .l-col-offset-2 {margin-left: calc(100% / 12 * 2);}
    .l-col-offset-3 {margin-left: calc(100% / 12 * 3);}
    .l-col-offset-4 {margin-left: calc(100% / 12 * 4);}
    .l-col-offset-5 {margin-left: calc(100% / 12 * 5);}
    .l-col-offset-6 {margin-left: calc(100% / 12 * 6);}
    .l-col-offset-7 {margin-left: calc(100% / 12 * 7);}
    .l-col-offset-8 {margin-left: calc(100% / 12 * 8);}
    .l-col-offset-9 {margin-left: calc(100% / 12 * 9);}
    .l-col-offset-10 {margin-left: calc(100% / 12 * 10);}
    .l-col-offset-11 {margin-left: calc(100% / 12 * 11);}
}

@media only screen and (max-width: $max_m) {
    .container {width: $max_s + 1px;}
    .m-col-0 {display: none;}
    .m-col-1 {width: calc(100% / 12);}
    .m-col-2 {width: calc(100% / 12  * 2);}
    .m-col-3 {width: calc(100% / 12  * 3);}
    .m-col-4 {width: calc(100% / 12  * 4);}
    .m-col-5 {width: calc(100% / 12  * 5);}
    .m-col-6 {width: calc(100% / 12  * 6);}
    .m-col-7 {width: calc(100% / 12  * 7);}
    .m-col-8 {width: calc(100% / 12  * 8);}
    .m-col-9 {width: calc(100% / 12  * 9);}
    .m-col-10 {width: calc(100% / 12  * 10);}
    .m-col-11 {width: calc(100% / 12  * 11);}
    .m-col-12 {width: 100%;}

    .m-col-offset-0 {margin-left: 0;}
    .m-col-offset-1 {margin-left: calc(100% / 12);}
    .m-col-offset-2 {margin-left: calc(100% / 12 * 2);}
    .m-col-offset-3 {margin-left: calc(100% / 12 * 3);}
    .m-col-offset-4 {margin-left: calc(100% / 12 * 4);}
    .m-col-offset-5 {margin-left: calc(100% / 12 * 5);}
    .m-col-offset-6 {margin-left: calc(100% / 12 * 6);}
    .m-col-offset-7 {margin-left: calc(100% / 12 * 7);}
    .m-col-offset-8 {margin-left: calc(100% / 12 * 8);}
    .m-col-offset-9 {margin-left: calc(100% / 12 * 9);}
    .m-col-offset-10 {margin-left: calc(100% / 12 * 10);}
    .m-col-offset-11 {margin-left: calc(100% / 12 * 11);}
}

@media only screen and (max-width: $max_s) {
    .container {width: $max_xs + 1px;}
    .s-col-0 {display: none;}
    .s-col-1 {width: calc(100% / 12);}
    .s-col-2 {width: calc(100% / 12  * 2);}
    .s-col-3 {width: calc(100% / 12  * 3);}
    .s-col-4 {width: calc(100% / 12  * 4);}
    .s-col-5 {width: calc(100% / 12  * 5);}
    .s-col-6 {width: calc(100% / 12  * 6);}
    .s-col-7 {width: calc(100% / 12  * 7);}
    .s-col-8 {width: calc(100% / 12  * 8);}
    .s-col-9 {width: calc(100% / 12  * 9);}
    .s-col-10 {width: calc(100% / 12  * 10);}
    .s-col-11 {width: calc(100% / 12  * 11);}
    .s-col-12 {width: 100%;}

    .s-col-offset-0 {margin-left: 0;}
    .s-col-offset-1 {margin-left: calc(100% / 12);}
    .s-col-offset-2 {margin-left: calc(100% / 12 * 2);}
    .s-col-offset-3 {margin-left: calc(100% / 12 * 3);}
    .s-col-offset-4 {margin-left: calc(100% / 12 * 4);}
    .s-col-offset-5 {margin-left: calc(100% / 12 * 5);}
    .s-col-offset-6 {margin-left: calc(100% / 12 * 6);}
    .s-col-offset-7 {margin-left: calc(100% / 12 * 7);}
    .s-col-offset-8 {margin-left: calc(100% / 12 * 8);}
    .s-col-offset-9 {margin-left: calc(100% / 12 * 9);}
    .s-col-offset-10 {margin-left: calc(100% / 12 * 10);}
    .s-col-offset-11 {margin-left: calc(100% / 12 * 11);}
}

@media only screen and (max-width: $max_xs) {
    .container {width: $max_xxs + 1px;}
    .xs-col-0 {display: none;}
    .xs-col-1 {width: calc(100% / 12);}
    .xs-col-2 {width: calc(100% / 12  * 2);}
    .xs-col-3 {width: calc(100% / 12  * 3);}
    .xs-col-4 {width: calc(100% / 12  * 4);}
    .xs-col-5 {width: calc(100% / 12  * 5);}
    .xs-col-6 {width: calc(100% / 12  * 6);}
    .xs-col-7 {width: calc(100% / 12  * 7);}
    .xs-col-8 {width: calc(100% / 12  * 8);}
    .xs-col-9 {width: calc(100% / 12  * 9);}
    .xs-col-10 {width: calc(100% / 12  * 10);}
    .xs-col-11 {width: calc(100% / 12  * 11);}
    .xs-col-12 {width: 100%;}

    .xs-col-offset-0 {margin-left: 0;}
    .xs-col-offset-1 {margin-left: calc(100% / 12);}
    .xs-col-offset-2 {margin-left: calc(100% / 12 * 2);}
    .xs-col-offset-3 {margin-left: calc(100% / 12 * 3);}
    .xs-col-offset-4 {margin-left: calc(100% / 12 * 4);}
    .xs-col-offset-5 {margin-left: calc(100% / 12 * 5);}
    .xs-col-offset-6 {margin-left: calc(100% / 12 * 6);}
    .xs-col-offset-7 {margin-left: calc(100% / 12 * 7);}
    .xs-col-offset-8 {margin-left: calc(100% / 12 * 8);}
    .xs-col-offset-9 {margin-left: calc(100% / 12 * 9);}
    .xs-col-offset-10 {margin-left: calc(100% / 12 * 10);}
    .xs-col-offset-11 {margin-left: calc(100% / 12 * 11);}
}

@media only screen and (max-width: $max_xxs) {
    .container {width: 100%;}
    .xxs-col-0 {display: none;}
    .xxs-col-1 {width: calc(100% / 12);}
    .xxs-col-2 {width: calc(100% / 12  * 2);}
    .xxs-col-3 {width: calc(100% / 12  * 3);}
    .xxs-col-4 {width: calc(100% / 12  * 4);}
    .xxs-col-5 {width: calc(100% / 12  * 5);}
    .xxs-col-6 {width: calc(100% / 12  * 6);}
    .xxs-col-7 {width: calc(100% / 12  * 7);}
    .xxs-col-8 {width: calc(100% / 12  * 8);}
    .xxs-col-9 {width: calc(100% / 12  * 9);}
    .xxs-col-10 {width: calc(100% / 12  * 10);}
    .xxs-col-11 {width: calc(100% / 12  * 11);}
    .xxs-col-12 {width: 100%;}

    .xxs-col-offset-0 {margin-left: 0;}
    .xxs-col-offset-1 {margin-left: calc(100% / 12);}
    .xxs-col-offset-2 {margin-left: calc(100% / 12 * 2);}
    .xxs-col-offset-3 {margin-left: calc(100% / 12 * 3);}
    .xxs-col-offset-4 {margin-left: calc(100% / 12 * 4);}
    .xxs-col-offset-5 {margin-left: calc(100% / 12 * 5);}
    .xxs-col-offset-6 {margin-left: calc(100% / 12 * 6);}
    .xxs-col-offset-7 {margin-left: calc(100% / 12 * 7);}
    .xxs-col-offset-8 {margin-left: calc(100% / 12 * 8);}
    .xxs-col-offset-9 {margin-left: calc(100% / 12 * 9);}
    .xxs-col-offset-10 {margin-left: calc(100% / 12 * 10);}
    .xxs-col-offset-11 {margin-left: calc(100% / 12 * 11);}
}